<!-- SemanticUI klase vezane za kolone i custom klasa room-number -->
<div class="four wide column center aligned room-number">
  <div class="ui statistic">
    <div class="label">
      Room number:
    </div>
    <div class="value">
      <!-- prikaz polja roomNumber -->
      {{ room.roomNumber }}
    </div>
  </div>
</div>
<div class="four wide column">
  <div class="ui statistic">
    <div class="label">
      Room floor:
    </div>
    <div class="value">
      {{ room.floor }}
    </div>
  </div>

</div>
<!-- Šira treća kolona -->
<div class="eight wide column">
  <div class="ui statistic">
    <div class="label">
      Person:
    </div>
    <div class="value">
      {{ room.person }}
    </div>
  </div>

</div>
