  <!-- Menu Bar -->
  <!-- Klase iz semantic UI okvira -->
  <div class="ui menu">
    <div class="ui container">
      <div class="header item borderless">
        <h1 class="ui header">
          Met Hotels
        </h1>
      </div>
    </div>
    <div class="right menu">
      <a class="item" [class.active] = "isRoomsVisible" (click)="onRooms()">
        Sobe
      </a>
      <a class="item" [class.active] = "isReservationVisible" (click)="onReservation()">
        Rezervacija
      </a>
      <a class="item" [class.active] = "isOfferVisible" (click)="onOffer()">
        Ponuda
      </a>
      <a class="item" [class.active] = "isRecommendationVisible" (click)="onRecommendation()">
        Preporuka
      </a>
      <a class="item" [class.active] = "isAboutUsVisible" (click)="onAboutUs()">
        O nama
      </a>
    </div>
  </div>

  <div class="ui main text container">
    <app-roomscomponent [hidden] = '!isRoomsVisible' [rooms]="rooms"></app-roomscomponent>
    <app-reservation [hidden] = '!isReservationVisible' [reservations]="reservations" [rooms]="rooms"></app-reservation>
    <app-offercomponent [hidden] = '!isOfferVisible' [offers]="offers"></app-offercomponent>
    <app-recommendationcomponent [hidden] = '!isRecommendationVisible' [recommendations] = 'recommendations'></app-recommendationcomponent>
    <app-aboutus [hidden] = '!isAboutUsVisible' ></app-aboutus>
  </div>
