  <!-- Menu Bar -->
  <!-- Klase iz semantic UI okvira -->
  <div class="ui menu">
    <div class="ui container">
      <div class="header item borderless">
        <h1 class="ui header">
          Met Hotels
        </h1>
      </div>
    </div>
    <div class="right menu">
      <a class="item" [routerLink]="['/rooms']" routerLinkActive="active">
        Sobe
      </a>
      <a class="item" [routerLink]="['/reservations']" routerLinkActive="active">
        Rezervacija
      </a>
      <a class="item" [routerLink]="['/offer']" routerLinkActive="active">
        Ponuda
      </a>
      <a class="item" [routerLink]="['/recommendation']" routerLinkActive="active">
        Preporuka
      </a>
      <a class="item" [routerLink]="['/about']" routerLinkActive="active">
        O nama
      </a>
    </div>
  </div>

  <div class="ui main text container">
    <router-outlet></router-outlet>
  </div>
